#!/usr/bin/env ruby
# -*- coding: utf-8 -*-

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '/stylesheets/*' do
end

compile '/images/*' do
end

compile '/javascript/*' do
end

compile '*' do
  unless item.binary?
    filter :erb
    layout 'default'
  end
end

route '/stylesheets/*' do
  [item.identifier.chop, '.css'].join
end

route '/javascript/*' do
  [item.identifier.chop, '.js'].join
end

route '*' do
  if item.binary?
    item.identifier.chop + '.' + item[:extension]
  else
    [item.identifier, 'index.html'].join
  end
end

layout '*', :erb
