body {
    margin: 0px;
}
#modalPage {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px; left: 0px;
}
.modalBackground {
    filter: Alpha(Opacity=40); -moz-opacity:0.4; opacity: 0.4;
    width: 100%; height: 100%; background-color: #003366;
    position: absolute;
    z-index: 500;
    top: 0px; left: 0px;
}
.modalContainer {
    position: absolute;
    width: 300px;
    left: 50%;
    top: 40%;
    z-index: 750;   
}
.modal {
    background-color: white;
    border: solid 4px #003366; position: relative;
    top: -150px;
    left: -150px;
    z-index: 1000;
    width: 305px;
    height: 130px;
    padding: 0px;
}
.modalTop {
    width: 192px;
    background-color: #fff;
    padding: 4px;
    color: #ffffff;  
    text-align: right;
}
.modalTop a, .modalTop a:visited {
    color: #ffffff;
}
.modalBody {
    padding: 10px;
}
